[2015-07-03 15:15] MarcosBL opened #2 "Internacionalization"
Just as an enhancement, please provide the ability to get translations, maybe via external files

[2015-07-03 15:59] kalenjordan opened #3 "Up/down keyboard support"
Wow - this date picker is vurr' nice.  You guys are amazing.

I was thinking maybe one thing that would be nice is when the keybord cursor is over the day of the month, let's say, and if you press up/down on the keyboard if that could nudge the number down/up that might be cool.

Samesies for month/year too.

[2015-07-04 13:33] olso commented on #2
just call it i18n next time :laughing:

[2015-07-04 16:29] MarcosBL commented on #2
:+1: :smile:

[2015-07-05 09:25] ifraixedes opened #6 "Dependencies clarification"
Hi there,

I've realised that it depends at least of three dependencies https://github.com/Baremetrics/calendar/blob/master/public/index.html#L11L13

however the README doesn't mention anything and [package.json](https://github.com/Baremetrics/calendar/blob/master/package.json) doesn't have `dependencies` attribute so it drove me confused to think that it doesn't have any.

Could specify them in R

[2015-07-05 09:27] ifraixedes opened #7 "Minimum properties on package.json"
Hi there,

[package.json](https://github.com/Baremetrics/calendar/blob/master/package.json) should have more information, one of them that I believe that it's essential is the license.

Could you add the most basic information on it?

Thanks

[2015-07-07 01:43] dja opened #8 "Double Date Range error when date range is same day"
Looks like the start date and end date are compared based on their html text value, which is formatted as Month Day, Year. It would be beneficial if it were based on actual Moment(), whether in unix or date. The main reason is that it causes complications when the start date and end date are both the same day (but may want that to be hours/min etc).

[2015-07-08 13:28] tzi commented on #2
:+1: For i18n

What need to be translated:
- Date format, ex "Jun 1, 2015"
- Range label, ex "Last month"
- Month name, ex "June"
- The starting day, countries start their week with monday

Cheers,
Thomas.

[2015-07-08 13:32] tzi opened #9 "Future and customizable preset range"
Hi!

Thanks for sharing this awesome tool!

The preset range, like last month, are a really great idea.
It would be great if we could set:
- Future range: for event, travel or hostel website, past dates does'nt matter
- Customizable: for some activities 1 month is already big

Cheers,
Thomas.

[2015-07-14 22:44] #6 closed, assigned to nobody

[2015-07-14 22:46] kalepail commented on #7
We have a license file and the package.json stuff is really just for development and doesn't effect the actual product.

[2015-07-14 22:46] #7 closed, assigned to nobody

[2015-07-14 22:53] kalepail commented on #8
I actually do do a date comparison off the html values.. so the html values are converted into a date object. Anything beyond just days though is beyond the scope of this particular date range but if you'd like to add hour/min functionality I'd be glad to at least make it a separate branch if no include it into the main branch.

[2015-07-14 22:53] #8 closed, assigned to nobody

[2015-07-16 19:40] kalepail commented on #9
I think this would be a great addition! I'm gonna add the help wanted label and anyone who wants to tackle this feel free to submit a PR.

[2015-07-16 19:41] kalepail commented on #2
This would be a great addition! Thanks for the request. I'm gonna add the help wanted label for now and if any of y'all wanna submit a PR for it feel free.

[2015-07-16 19:43] kalepail commented on #3
I'm planning on adding some similar functionality to the way the mac Calendar and apps like Fantastical do it, with up/down shifting days and left/right shifting months. You're mouse will already be in hand to open the calendar but some keyboard support would be nice.

[2015-07-17 16:10] kalepail commented on #3
Added some basic keyboard support in the [latest commit](https://github.com/Baremetrics/calendar/commit/e2fdc8c9e4a3348fdda0d36fd24402c5ca63f524)

Once you click a date to open the calendar..
- day = keystroke up/down
- week = hold shift + keystroke up/down
- month = hold meta + keystroke up/down

[2015-07-17 16:10] #3 closed, assigned to kalepail

[2015-07-22 23:12] HiroAgustin opened #12 "Register to Bower"
Hey, the library is awesome, thank you for sharing!

This maybe is more a question than an issue, but have you considered registering the package in [Bower](http://bower.io/docs/creating-packages/#register)?

[2015-07-27 09:24] greenafrican opened #14 "Earliest date not respected in presets"
Hello there,

Firstly, thanks for sharing an awesome calendar picker!

I've noticed that if I set the `earliest_date` to something like 1st Dec 2014 it isn't respected by the `1 Year` preset (and others), which sets the `start_date` to 27 July 2014, for example.

Ciao ;)

[2015-07-27 14:52] theodorejb opened #15 "Remove global CSS styles"
Right now there is a reset file (/dev/sass/vendor/_reset.scss) which overrides browser styling defaults. A custom font-family is also being set on the global body and html elements. This prevents us from easily using the date picker on our site, as we would have to manually override all these changes to the global environment.

Instead of modifying globals like this, could the font family instead

[2015-07-27 14:54] kalepail commented on #14
Seems to work for me, are you sure you're formatting it correctly? It needs to be an actual date object.

[code]

[2015-07-27 14:56] greenafrican commented on #14
[code]

Screenshot - https://cloudup.com/c1zKpw7-jdH

[2015-07-27 16:10] kalepail commented on #14
Ahhh I see what you're saying. Yep that's an issue. Sorry 'bout that.

[2015-07-27 16:23] kalepail commented on #15
Removing the reset file is a really good idea, not sure why I didn't do that anyway. As for the font that whole `_home.scss` file is intended to be replaced with whatever you're using in your main app. You could and probably should modify the `_variables.scss` file to better match your current setup as I assume you won't Proxima Nova anyway. I will go ahead and put that variable into the `.dateran

[2015-07-27 16:23] #15 closed, assigned to kalepail

[2015-07-27 16:24] #12 closed, assigned to nobody

[2015-07-27 16:49] #14 closed, assigned to kalepail

[2015-08-12 05:15] samuelreh opened #18 "Can't select custom range of one day"
I tried to select a range of just one day, but I can't seem to. Is this the expected behavior?

[2015-08-12 14:29] kalepail commented on #18
Yes. For picking one day you should use the single date range picker option

[2015-08-12 14:29] #18 closed, assigned to nobody

[2015-08-12 15:22] samuelreh commented on #18
Thanks for the quick response. My users need to be able to choose a day or many days. I'd rather just use one UI element, not toggle between them. Is there any particular reason for not wanting to support this use case?

[2015-08-12 20:42] kalepail commented on #18
For our particular use case in Baremetrics a date range of the same day makes no sense. It wouldn't be very tough to modify the code to allow a range on one day though so feel free to just edit to suit your use case.

[2015-08-13 06:02] lavkesh1608 opened #19 "ReferenceError: Calendar is not defined when used with core jquery.min"
Please resolve this asap.I am using core jquery as well.

[2015-08-13 06:42] lavkesh1608 commented on #19
Solved. JS was not loading.Now its work thanks

[2015-08-13 06:42] lavkesh1608 commented on #19
Solved. JS was not loading.Now its work thanks

[2015-08-13 06:42] #19 closed, assigned to nobody

[2015-08-19 15:11] kalepail opened #22 "Add keyword shortcut support for date entries"
How cool would it be to be able to enter dates like `today` or `3 months ago` for quick entry of dates based on sentence logic! Not sure how easy or feasible this would actually be though.. could be a real can of worms with all the possible ways folks may want to enter those dates. Something worth looking into though.

[2015-08-19 21:41] kalepail commented on #22
- [x] `today`, `now`
- [x] `1 year ago`, `3 months ago`, `5 weeks ago`, `50 days ago` (takes into account the current day of selection)
- [x] `1 year ahead`, `3 months ahead`, `5 weeks ahead`, `50 days ahead` (takes into account the current day of selection)
- [x] `earliest`
- [x] `latest`

[2015-08-21 18:51] #22 closed, assigned to nobody

[2015-09-01 19:02] enekochan opened #25 "callback function is not called if only start date is changed in Double Calendar"
In a Double Calendar if you change the start date it is correctly updated and the calendar then expects you to select the end date. The issue appears when you don't want to change the end date and you just click outside the calendar: the callback function is not called and thus your code doesn't do it's business.

[2015-09-02 23:48] SleeplessByte opened #27 "Shouldn't split on –"
It's not available in all fonts.

Rather use an `&ndash;` in the first place and annotate the two dates in separate elements. Also removes the need to translate the dash using css.

[2015-09-02 23:50] SleeplessByte opened #28 "Should not call new Date"
The whole point of moment is that it normalizes `new Date()` calls. Instead replace the calls with `moment()`. All operations should be `moment` operations.

For example `new Date('January 1, 1900')` becomes `moment( [1900, 1, 1] )` or `moment( '1900-01-01', 'YYYY-MM-DD')`;

[2015-09-03 00:04] SleeplessByte commented on #2
Starting day is `moment` is `moment.firstDayOfWeek()`

[2015-09-03 09:09] scottrobertson commented on #25
This is similar to https://github.com/Baremetrics/calendar/pull/1

[2015-09-03 19:52] kalepail commented on #27
https://github.com/Baremetrics/calendar/commit/3c4b5bc16c8ee67e95ab6fb5ccc502400a34fda5

[2015-09-03 19:52] #27 closed, assigned to nobody

[2015-09-03 19:56] kalepail commented on #28
Mm unfortunately this would place limitations on the date formats you could use when instantiating the calendar or entering dates but I could and will do better on not using new Date when I don't need to.

[2015-09-03 20:26] kalepail commented on #28
https://github.com/Baremetrics/calendar/commit/ef9bd8cedca66ffb268f6776a2820d46995ba03a

[2015-09-04 00:18] kalepail commented on #28
On second thought I think I'd like to limit the date input to that format for consistency's sake.
https://github.com/Baremetrics/calendar/commit/22e0256e0b76d6f49085eb59ee1b20474ef29e55

[2015-09-04 00:21] SleeplessByte commented on #27
Well, you're still splitting on that character, so didn't this break the calendar?

[2015-09-04 00:23] SleeplessByte commented on #28
You should probably limit to a format, not necc. that format, with regards to #26 #2

[2015-09-04 00:42] kalepail commented on #25
@enekochan Should be good to go on this one.
https://github.com/Baremetrics/calendar/commit/c7e68c20f4a4b165be75958284296de00b0f30e4

[2015-09-04 00:42] #25 closed, assigned to nobody

[2015-09-04 01:38] kalepail commented on #27
What do you mean "splitting"? Not quite sure what you're referring to.

[2015-09-04 09:32] enekochan commented on #25
Thanks!

[2015-09-04 17:18] SleeplessByte commented on #27
Nvm, you didn't change the presets, which wouldn't work because of [Calendar.js#L43](https://github.com/Baremetrics/calendar/blob/3c4b5bc16c8ee67e95ab6fb5ccc502400a34fda5/dev/js/Calendar.js#L43). :)

[2015-09-04 17:35] kalepail opened #29 "Date displays should be independant of actual dates"
i.e. If you format the input dates to just show months (not sure why you'd want to do that but still) the switcher buttons will show "Invalid Date" because they look at the html of the inputs when they really should be looking at actual date objects or strings independant of what's being displayed to the end user.

[2015-09-04 17:45] kalepail commented on #28
Opening this back up.. I didn't like my implementation. It works for me as is but if someone wants to knock it out that's fine by me.

[2015-09-04 18:01] #2 closed, assigned to nobody

[2015-09-04 19:58] kalepail opened #30 "Allow month and year inputs to load in preset ranges"
For example a string of `August` would load `August 1, [current year] - August 31, [current year]`
`August 2013` would load the same preset range but for 2013
`2014` would load `January 1, 2014 - December 31, 2014`
## Caveats
- Only within preset limits.. otherwise confine to bounds (i.e. `this.earliest_date` or `this.latest_date`)

[2015-09-04 20:39] SleeplessByte commented on #29
Yeah, you might want to either store it internally, or use data objects just like the month and year storage.

On my own version I store all the dates as `.data( 'unix', somemomentobject.unix() )` and parse it back in with `moment( ...data('unix' ) )`

[2015-09-04 21:18] kalepail commented on #29
Mhm. A project for another day but it's definitely something that needs doing.

[2015-09-05 15:23] enekochan opened #32 "Locale/option based first day of the week"
Right now the first day of the week is set to Sunday as it is used in en_US. But lots of languages, spanish for example, use other day, usually Monday, as first day of the week. We already have text and dates translations/localization which is great but this new feature I think should be a must.

I've tried myself coding this feature but failed. The only thing I've managed to change is the order o

[2015-09-05 23:59] SleeplessByte commented on #28
I'll look into it :)

On Fri, 4 Sep 2015 13:45 Tyler van der Hoeven notifications@github.com
wrote:

[2015-09-29 06:39] jclusso commented on #9
I've tacked a few on here for today, last 24 hours and last 7 days. This isn't expandable and probably not the cleanest solution, but maybe it's useful for someone else.

Around line 215

[code]

Around line 725

[code]

[2015-10-14 23:32] anark opened #33 "callback is not called if only first date is changed"
When the user changes only the first date and then clicks out of the datepicker the callback function is never called

[2015-10-14 23:34] #33 closed, assigned to nobody

[2015-10-14 23:36] anark commented on #33
Nevermind that.  Updating fixed this. Thanks so much

[2015-10-19 23:42] mlisbit commented on #9
I made a pull request. You can pass in a history_options array containing, labels, days/weeks/months or years, and an option to round to nearest selected day/week/month/year.

[2015-10-20 16:04] kalepail opened #35 "If the dates haven't changed, don't fire callback"
Right now if you click the second date, don't change anything, and then click out, the callback fires. The callback should only ever fire if there is something to change.

[2015-10-20 18:40] jclusso commented on #9
@mlisbit hourly support would be nice too!

[2015-10-20 19:34] tyvdh commented on #9
Unfortunately until this isn't hard coded and has some type of basic API I won't be able to merge. Very handy snippets though!

[2015-11-10 17:06] kalenjordan opened #36 "Standalone css file"
Hey guys, amazing work on this!  I just pulled it into my app and needed to fidget with the css a little bit in order to remove some of the non-daterange styles (body, h1, etc.).  Would it make sense to break some of those things out of the css file?

Let me know if you'd like me to PR the CSS file that I scrubbed.

Thanks again!

[2015-11-10 22:01] kalepail commented on #36
It is broken out in the Sass source.. but it might be helpful to actually generate a sort of vendor css file separate from the actual name spaced calendar stuff.

[2015-11-10 22:32] kalenjordan commented on #36
Ah.  Duh!  My bad.

[2015-11-10 23:38] #36 closed, assigned to nobody

[2015-11-17 01:45] dja commented on #18
I'd also +1 this, even as just a params option. :+1:

update: nevermind, I don't know how I missed the new param for same_day_range

[2015-11-17 19:30] dja opened #37 "Request: Preset dropdown left/right aligned"
Not meaning to add more params than necessary, but it would be great to choose if the preset menu button is left or right aligned. I've done this in my own fork, if you want to take a look: https://github.com/danieljacobarcher/calendar

[2015-11-27 19:45] kalepail commented on #35
Fixed in: https://github.com/Baremetrics/calendar/commit/4df5ca21c5a85c52292ae2feb1479588661be7d0

[2015-11-27 19:45] #35 closed, assigned to nobody

[2016-01-12 22:42] cissav commented on #32
Any news on this one?

[2016-01-13 22:15] kalepail commented on #32
No not yet as we don't currently need this for Baremetrics. I also haven't heard much from other people needing this feature. I don't think it'd be _super_ hard to do but it'd take some time to think through the best way. You'd definitely want it to be an option, though maybe a function option that doesn't automatically do anything until you explicitly tell it which day of the week it should start

[2016-02-03 10:33] aperkins81 opened #39 "Add ability to set placeholder text for single dates"
Thanks for the great date picker!

Just one nit-pick.

The placeholder text for single dates serves little purpose for the lay-user who is most likely to use the GUI instead of typing in a date.

Also, placeholder text such as Do MMMM YYYY looks a little ugly (and possibly confusing) - it would be nice to be able to overwrite this value, for example, to match other inputs' placeholder values.

Che

[2016-03-07 23:28] kalepail commented on #39
Added in https://github.com/Baremetrics/calendar/releases/tag/v1.0.6

[2016-03-07 23:28] #39 closed, assigned to nobody

[2016-03-07 23:28] kalepail commented on #32
Added in https://github.com/Baremetrics/calendar/releases/tag/v1.0.6

[2016-03-07 23:28] #32 closed, assigned to nobody

[2016-03-07 23:30] kalepail commented on #9
Added customizable presets in https://github.com/Baremetrics/calendar/releases/tag/v1.0.6
Not ever really planning on adding hour support. That would be more like an addon rather then a feature for a date picker.

[2016-03-07 23:30] #9 closed, assigned to nobody

[2016-03-07 23:30] #28 closed, assigned to nobody

[2016-03-17 15:39] tinyfly opened #43 "Question: Why not use input elements?"
Any particular reason you used `contenteditable` divs instead of traditional form input elements to hold the actual dates?

Doing it this way makes it harder to submit the dates through a regular form submit. Right now I'm doing it by syncing up the selected dates with hidden inputs within the form. Not super hard but I was wondering the advantages/disadvantages of not using inputs?

[2016-03-17 16:20] kalepail commented on #43
Honestly I can't remember exactly what the rationale was at the time but I do know it was very intentional. It may have had something to do with truncating values in overflow situations. Sorry. You're welcome to switch to using inputs rather then divs but do so at your own risk.

[2016-03-17 16:20] #43 closed, assigned to nobody

[2016-03-17 16:27] tinyfly commented on #43
Fair enough

[2016-03-17 16:55] tinyfly opened #45 "Request: Publish to npm"
Could you publish this to npm? I think the only thing that might be needed in package.json is a "main" entry pointing to your Calendar.js file.

[2016-03-22 01:00] kalepail commented on #45
I tried awhile back, ran into some weird issues and haven't had the need or time to get through them. Anyone else is welcome to try though.

[2016-03-22 08:50] warrenbuckley commented on #45
@tyvdh do you have a copy of the error/logs that you were seeing when trying to publish this to NPM. Obviously its best that the package author publishes this onto NPM rather than say myself with my key/account

[2016-03-22 08:52] warrenbuckley commented on #37
@danieljacobarcher is this not worth then submitting a PR so @tyvdh can look at it easier & review it with you to get it merged back into the project?

[2016-03-28 20:27] joshuayoung1380 opened #48 "Next Year Arrow Broken"
I like your plugin. Nice Work.

Just Noticed when you scroll to the previous year using the back arrow for the month.
The arrow to go back forward to 2016 disappears.
  Using Firefox 40.0.3 OS X Yosemite

Does not seem like expected behavior.

Thanks for making your plugin available.

[2016-03-28 21:31] joshuayoung1380 opened #49 "default DropDown presets have wrong dates"
When preset dates are not overridden the dates provided are wrong.

Last 3 Months - gets 3 months prior to selected end date not today's date as would expect.
Last 6 Months - gets 6 months prior to selected end date not today's date as would expect.
Last Year - gets 1 year prior to selected end date not today's date as would expect.

[2016-03-28 22:07] joshuayoung1380 commented on #49
the way makes since, just mistaken on that issue

[2016-03-28 22:07] #49 closed, assigned to nobody

[2016-04-19 11:35] sstanisslav opened #50 "first day of week"
how can I change first day of week from sunday to monday ?

[2016-04-19 14:25] kalepail commented on #50
You'll need to define your `isoWeekday` in moment. We support locales but you'll need to set that yourself.
http://jsfiddle.net/PxAUd/1/

[2016-04-19 14:25] #50 closed, assigned to nobody

[2016-04-19 14:28] kalepail commented on #48
That is actually expected behavior as far as I can tell. The year forward arrow will only exist if that year AND month exist within your range. In the testing I did the month and year did not exist for much of the back tracking.. but eventually the forward arrow did come back when both requirements were met.

[2016-04-19 14:28] #48 closed, assigned to nobody

[2016-05-04 08:56] warrenbuckley opened #51 "Invalid Array Length when Moment Locale is set to en-gb"
# Problem

When using locales with the calendar we get some weird quirks & UI weirdness.
For example if we set the momentjs locale to en-gb then click the second date in the date range and you will see no dates being shown.

Additionally if you page through the calendar months into the past, some months will load & others will display the same problem of no dates for that month.

If you need furth

[2016-05-06 18:26] jclusso opened #52 "Use with turbolinks"
I'm trying to use turbolinks in our application and I can't figure out how to make it so I don't get multiple calendar objects. Is there a way to destroy the calendar? I've tried doing like

[code]

The issue is the Calendar no longer works after I do that...

[2016-05-06 21:45] jclusso commented on #52
I ended up doing this... not sure if it's the best way to go about the problem though. Btw, ignore the tabbing. It's coffeescript and It's just pasting in a little weird

[code]

[2016-05-06 22:33] kalepail commented on #52
@jclusso What I typically do is test for the existence of the calendar object and if it doesn't exist I create it. So rather then destroy it every time you ensure you only create it once. Either way though sounds like you got it working.

[2016-05-06 22:33] #52 closed, assigned to nobody

[2016-05-06 22:42] kalepail commented on #51
Really sorry to hear this isn't working for you. Unfortunately I didn't implement the locale feature and since we don't use it at Baremetrics you're on your own. Shouldn't be too hard to dig in and sort it out though. You might ping @RocAlayo as he submitted the PR that brought this feature in. :/

[2016-05-07 04:35] jclusso commented on #52
Well checking if it existed stopped it from making a new one, but I think because the events are not bound to the document it doesn't work anymore after a page change.

[2016-05-10 10:25] warrenbuckley commented on #51
To update on this, the problem is with this piece of code `moment().localeData().firstDayOfWeek()`
Some locale do not use Sunday as the starting day of the week, and others use Monday.

[2016-05-12 09:07] warrenbuckley commented on #51
Any news/update on the PR I have submitted for you to consider/review @tyvdh @scottrobertson @Shpigford

[2016-05-12 14:10] kalepail commented on #51
Sorry. Haven't had the chance to look it over yet. Maybe this weekend.

[2016-05-17 14:52] jonquach commented on #51
Hi, I encounter the same problem with the `fr` locale.
Changing the day of week format, by using the locale format worked for me.

See there #54:
http://momentjs.com/docs/#/displaying/format/

Hope this can help.

[2016-06-27 23:06] mtmcfarl opened #56 "Baremetrics Calendar Install"
I'm having a hard time getting the open source calendar working in my application. It says moment and Calendar is undefined. I installed moment via `npm install moment --save` and I copied and pasted Calendar.js into my Rails project. Anything pop up recently about the calendar not working?

[2016-06-28 14:26] kalepail commented on #56
Sounds like you're trying to use the calendar before it's been installed. NPM installs also don't give you access to moment out of the box. You'll still need to call their script in the `<head>` or as a `require()` function. This isn't a calendar issue though.

[2016-06-28 14:26] #56 closed, assigned to nobody

[2016-07-06 21:45] davewasmer opened #57 "Tag new version"
The recent commits that remove the demo app styling from the component styling aren't in the latest tag (1.0.6). A quick update to the bower version and a  `git tag v1.0.7 && git push --tags` would be much appreciated! :beers:

[2016-07-06 22:06] kalepail commented on #57
Done! https://github.com/Baremetrics/calendar/releases/tag/v1.0.7

[2016-07-06 22:06] #57 closed, assigned to nobody

[2016-07-26 14:07] Robert-Black opened #58 "Request: Week starts on…"
In Australia, calendars normally start the week on a Monday instead of Sunday. I'd guess this is a problem in other countries.

It would be mildly helpful if there was an option in the settings for the picker to "Start week on… [pick a day]"

[2016-07-26 16:09] kalepail commented on #58
See https://github.com/Baremetrics/calendar/pull/53
If you could fork and test that branch and confirm whether or not it works, that'd be awesome!

[2016-08-01 12:48] calvinlloyd opened #59 "REQUEST: Disable Weekends"
Is there a way to disable weekends (saturday and sunday) in the calendar?

[2016-08-01 13:51] kalepail commented on #59
@calvinlloyd There actually isn't but this would make a great feature!

[2016-08-01 18:25] fafnirbcrow opened #60 "Error on range when using double-calendar and same day is set for start and end date"
In my use case I am doing date range reporting, with month to date being the default option. When the system sets date for start and end date as the same day on the first day of the month, we get an invalid date range error when trying to select a new date. I would expect that even on a date range, you ought to be able to select start and end date to match sometimes, e.g. I only want to see one da

[2016-08-06 14:06] kalepail commented on #60
I'll try and take a look sometime next week. Though the code is quite user friendly so feel free to take a look yourself. Should be an easy solve. I assume you tried the 'same_day: true' key: vale?

[2016-08-06 14:08] kalepail commented on #60
'same_day_range: true' sorry

[2016-08-08 13:55] kalepail commented on #60
@fafnirbcrow Can you confirm that the `same_day_range` isn't working for you?

[2016-08-08 15:20] fafnirbcrow commented on #60
@tyvdh I apologize, I somehow missed that that had gotten pulled in my project at some point in the past. Amazing how it works when you turn the setting on properly. Mi culpa. Thanks for the quick help!

[2016-08-08 15:20] #60 closed, assigned to nobody

[2016-08-08 16:53] kalepail commented on #60
@fafnirbcrow No worries. Glad it's working for you!

[2016-08-15 18:14] greenafrican commented on #14
Just wondering what happened to this? Do you prefer to leave the presets unchanged?

[2016-08-15 18:17] kalepail commented on #14
@greenafrican Is it still an issue? I closed it forever ago. Are you still experiencing the problem in the latest update?

[2016-08-15 18:36] greenafrican commented on #14
@tyvdh Sorry, I know this issue is updated. I'm now looking to update `earliest_date` on the fly and have the presets update. I guess a method is needed. Would you like a PR?

[2016-08-15 18:38] kalepail commented on #14
@greenafrican I wouldn't merge it into the main repo since this isn't a core feature. All you really need to do is update the instance variable and then refresh the calendar. All of which you can already do.

[2016-08-15 18:45] greenafrican commented on #14
@tyvdh Ok, thanks. What is the best way to refresh? `.presetsCreate()` looks like it'll work.

[2016-08-15 19:08] kalepail commented on #14
Yep. What we use @Baremetrics is something to the flavor of:

[code]

Good luck!

[2016-08-17 09:00] greenafrican commented on #14
Do you mean:

[code]

Otherwise, `.presetsCreate()` defaults the hard-coded presets?

[2016-08-17 12:28] kalepail commented on #14
Yeah. It would update your dates in the preset list I think though. Honestly I'm not 100% on exactly what does what. Been too long since I worked on that piece of it. Just fool around with a couple of the functions and see what they do. I do know you'll at least need to updat your default dates before redrawing any calendar HTML

[2016-09-13 17:13] tiljanssen opened #61 "Cannot pick a date in august if language is italian"
The current check for "ago" and "ahead" in the date input will match "Agosto" which is the italian translation for August.
Since the month is not the 3rd word in the date, this means that dates picked in august will revert back to the current date.

I suggest you use regexp with word boundaries instead of simply searching the date string.

Note also that you try to use a "lookbehind" regexp to str

[2016-09-15 13:35] Turbo87 commented on #43
are you aware that using `contenteditable` (and obviously also `<input>` elements) will open the keyboard on Android devices? Is that expected behavior? It seems to work fine when I remove `contenteditable`, but maybe I'm not seeing the full picture yet...

[2016-09-15 13:54] kalepail commented on #43
@Turbo87 Yeah as you can (or should) be able to edit those dates via the keyboard. There are also a number of shortcuts like `ytd` which will clamp the range to "year to date" etc. If you don't desire this behavior on mobile feel free to edit.

[2016-09-21 07:10] basvis commented on #61
@tyvdh +1

[2016-10-04 16:50] jagthedrummer opened #63 "When 'required' is set to 'false' the input field always initializes to blank"
When I pass in a value for `current_date` but also set `required` to be `false` I'm ending up with a date picker that has the initial value set to '', which lets the `placeholder` show up. I think it should set the initial value to be the formatted version of `current_date`.

I think this line is the culprit.

https://github.com/Baremetrics/calendar/blob/master/dev/js/Calendar.js#L776

[2016-10-11 20:53] #51 closed, assigned to nobody

[2016-10-11 21:07] kalepail commented on #45
https://www.npmjs.com/package/baremetrics-calendar

[2016-10-18 12:53] tiljanssen opened #65 ""This month" added to custom presets"
"This month" is added to custom presets when the month is older than a few days.

This functionality should probably be limited to the default presets, not for custom presets

[2016-10-18 12:56] kalepail commented on #65
Oops! Good point.
I'll get to this asap. Feel free to submit a PR if it's urgent though

[2016-10-18 12:57] tiljanssen opened #66 "Strange default presets if latest-date != current-date"
The default presets are relative to the latest-date, but the names relate to the current date ("this month").

Proposed solution:
Define the presets relative to the current date, then limit them to the allowed range, and then include them if they have "enough length"

(or do not specify default presets at all).

[2016-10-18 16:09] #58 closed, assigned to nobody

[2016-10-18 16:14] kalepail commented on #65
54a3d2303952d01ccb27b6c7075e89017809a8b8

[2016-10-18 16:14] #65 closed, assigned to nobody

[2016-10-18 16:19] kalepail commented on #66
@tiljanssen I see the dilemma here but I think it's outlier enough that you could use either your own custom presets or just set `presets: false` on your own.

[2016-10-18 16:19] #66 closed, assigned to nobody

[2016-10-18 16:24] kalepail commented on #63
524c55b363c2e0e56d7b3ba6be485dc3c043ac7d

[2016-10-18 16:24] #63 closed, assigned to nobody

[2016-10-18 16:28] kalepail commented on #59
@calvinlloyd Looking into building out this feature. Would the request just be for the single date range picker? Or do we somehow want to enable this for the range picker as well? (not even sure how that would work)

[2016-10-19 09:11] tiljanssen commented on #61
Fixed in pull request #62, can be closed.

[2016-10-24 19:32] hoverlover commented on #45
[code]

`webpack.config.js`:

[code]

`webpack -p` output:

[code]

Any ideas?  Can't seem to get past this.

[2016-10-24 20:17] hoverlover commented on #45
After tinkering, I think @tinyfly is correct.  @tyvdh, you commented with the link to the npm repo but I still don't see a `main` entry in `package.json`.  @warrenbuckley is right, it would be better for you to publish to the NPM repo if possible.

[2016-10-24 20:33] hoverlover commented on #45
Btw, fixed using a webpack resolve alias:

`webpack.config.js`:

[code]

Still would be nice to have a `main` entry.  The documentation for webpack is kinda notorious for being a bit vague so it typically is hard to figure out workarounds like this.

[2016-10-26 19:45] darklow opened #68 "How to catch event when value is removed (emptied) for single calendar?"
Now callback event is being fired only when value is set for single calendar.
How to catch change event when value is deleted?
Thank you.

[2016-11-01 14:42] kalepail commented on #68
Hmm good question. I'll have to take a look at that.

[2017-01-18 16:22] Patrick1900 opened #73 "Problems with toISOString (DE)"
With moment locale DE the parseDate wont work cause of toISOString (no moment timezone)

Set moment.locale('de') and the presets dates are wrong.

[2017-01-26 19:13] kalepail commented on #68
33e4aafae134eb26f6be99a8854d57c44f2abcfd

[2017-01-26 19:13] #68 closed, assigned to kalepail

[2017-01-27 19:52] laynegt opened #75 "MouseEvent.path() only supported in Chrome"
in v.1.0.10, https://github.com/Baremetrics/calendar/blob/master/dev/js/Calendar.js#L189 uses `MouseEvent.path()`, which appears to be only supported by Chrome.  Ran into problems in our test suite with phantom.

Thanks for the calendar picker, love it.

[2017-01-27 19:56] kalepail commented on #75
Ah whoops! Will take a look and fix asap. Or feel free to submit a PR fix

[2017-04-11 08:55] suarezph opened #76 "got error when implementing barametrics daterange with moment and jquery"
<img width="1436" alt="screen shot 2017-04-11 at 4 53 32 pm" src="https://cloud.githubusercontent.com/assets/802180/24900791/8cd63178-1ed7-11e7-96ff-c8541c85df1e.png">

[2017-06-12 23:07] leonardofaria commented on #45
Using webpack 2:

[code]
And inside your code:
[code]

[2017-06-21 09:12] Blackening999 opened #78 "Week select"
I think the feature that would allow user to select a week instead of a day will be pretty useful

[2017-06-26 14:19] kalepail commented on #78
You're welcome to submit a PR but this is outside the scope of a feature I will add myself

[2017-06-26 14:26] #75 closed, assigned to nobody

[2017-06-26 14:27] #76 closed, assigned to nobody

[2017-06-26 14:35] Blackening999 commented on #78
Thanks for the response!
Sorry, but I haven't got time to learn library and submit feature for that :( I'm pretty sure it shouldn't take too much time to add this item

[2017-06-28 10:48] straube commented on #68
@tyvdh it seems like the `current_date` has a value – the latest selected date – even when I empty the calendar. I took a look at the available properties and at 33e4aaf but I couldn't find anything that can tell me there is no date selected. Am I missing something?

Thanks! :)

[2017-06-28 13:54] kalepail commented on #68
@straube That's true. This is due to some restrictions within the code itself needing to keep some reference of a date. You can however use `this.selected.innerText` inside the callback to determine if there is a value currently selected.

[2017-06-28 14:11] straube commented on #68
@tyvdh just gave it a try and it worked! :tada:

[2017-06-28 21:20] laynegt opened #80 "Problem selecting presets in non-English locales"
Ran into a strange issue today when testing i18n changes in French.  Might be related to #73.

The issue is that `calendarCheckDate` is erroneously creating a valid moment in some non-English locales (at least when using the default date format of `MMMM D, YYYY`).  In my case, that meant all my preset dates were turning into Jan 20th.  Seems like it could be a bug in moment (didn't see any after a

[2017-07-04 15:32] kalepail commented on #80
Thanks for bringing up the issue. I'll have to take a better look once I get some time but it looks like ensuring those dates are moment dates could potentially solve the problem.

[2017-08-01 08:18] rossbulat opened #81 "Change moment locale - Where?"
I am unable to find where to change the moment locale of the calendar.

Where do we call moment.locale to change the calendar language? My attempts have failed and the calendar stays in English.

Thanks!

[2017-08-01 13:07] kalepail commented on #81
I would assume you should set it as per moment's instructions before this plugin is ever called in the stack. Not sure though as I haven't personally tried changing locales.

[2017-08-01 13:07] #81 closed, assigned to nobody

[2017-10-06 21:47] melnikoved commented on #80
Hello!
Do you have any progress? I found that the fix in @laynegt fork works right.

[2017-11-29 09:53] sashberd opened #83 "cdnjs hosting"
Hi @tyvdh,
We would like to [add ](https://github.com/cdnjs/cdnjs/issues/10551)you library to cdnjs hosting
Which files we should host?
Thanks

[2017-12-01 18:55] kalepail commented on #83
- https://github.com/Baremetrics/calendar/blob/master/public/js/Calendar.js
- https://github.com/Baremetrics/calendar/blob/master/public/css/application.css

[2017-12-01 18:55] #83 closed, assigned to nobody

[2017-12-21 19:51] ianmooney commented on #65
Hi @tyvdh, it looks like the latest release available on npm is 1.0.8. I'd love to get this fix into our app. Would you be able to publish the newer releases on npm?

[2017-12-21 21:54] kalepail commented on #65
@ianmooney Done.

[2017-12-21 22:24] ianmooney commented on #65
Awesome, thanks a lot.

[2018-03-07 09:36] aldrienht opened #86 "Moment Deprecation Warnings"
`
new Calendar({
  element: $('.daterange--double'),
  earliest_date: '2000-01-1',
  latest_date: moment(),
  start_date: '2015-05-01',
  end_date: '2015-05-31',
  callback: function() {
    var start = moment(this.start_date).format('ll'),
        end = moment(this.end_date).format('ll');

    console.debug('Start Date: '+ start +'\nEnd Date: '+ end);
  }
});
`

Deprecation warning: value provide

[2018-05-18 11:25] gerdus opened #87 "f.path is undefined in Firefox"
In Firefox(60) clicking outside the calendar gives following error in console and does not close it:
`f.path is undefined`
error on this line (Calendar.js line 189)
`var contains = self.element.find(f.path[0]);`

event.path is non-standard; standard seems to be event.composedPath()
Fixed it locally with:
`var path = f.path || (f.composedPath && f.composedPath()) || [f.target.parentNode,];`
`var co

[2018-05-25 13:46] ranvithm opened #88 "Dynamic earliest_date and latest_date"
Hi,

   I want dynamic dynamic earliest_date and latest_date.

[2018-05-30 18:45] kalepail commented on #88
Just set them whenever you need them to change!

[code]

Depending on how it's displaying in the page you may also need to run `Cal.calendarSetDates()`

[2018-05-30 18:45] #88 closed, assigned to nobody

[2018-06-12 10:07] MikeRogers0 commented on #86
I used `Date.parse` to fix this problem, so for example:

[code]

Would you like me to send a PR to update the `README.md` @tyvdh?

[2018-07-05 12:11] serg0x opened #89 "Saturdays are skipped on Microsoft EDGE and IE11"
We want to use your open sourced date picker, but it is heavily buggy on MS browsers, look at the dates, every Saturday is skipped https://twitter.com/serglotz/status/1014111701971755008

![screen shot 2018-07-03 at 13 39 54](https://user-images.githubusercontent.com/1453557/42322556-4153440a-805d-11e8-82d2-324e11532203.png)

[2018-07-12 19:41] hisnameisjimmy commented on #89
Can be fixed by hardcoding the width for the following classes, Edge seems to choke on the `~"calc(100% / 7)"`. Could potentially cause issues down the line if you want to keep the library up to date, but it works for our purposes.

[code]

[2018-07-12 20:38] kalepail commented on #89
Yeah I appreciate the attempt but too many people are using this to be able to settle for a hard coded value. Gotta stay fluid. There are likely solutions out there but I’ll have to fool with it. Don’t have an edge browser to test in either so I’ll have to use something like browserstack. Glad you found something that fixes for now though for you.

[2018-07-12 21:21] serg0x commented on #89
Thx for quick fix Jimmy. Thx for reply Tyler 👍 . You can test by using virtual box and the official MS edge image https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/ if it helps :)

[2018-07-13 11:11] hisnameisjimmy commented on #89
Yeah I used the Microsoft provided VM to test. This is still fluid, as we're using percentage widths. It's just not quite 1/7, it's a tiny bit less (14.28% instead of 14.2857%). However, visually, it looks identical.

This is what it looks like in Edge:

![msedge_-_win10__running_](https://user-images.githubusercontent.com/740373/42688818-203cf468-869e-11e8-8dc9-c3b48bba6c34.png)

[2018-07-13 11:26] serg0x commented on #89
Hey yes, thx, I already implemented your fix Jimmy, and it works 🥇 . My explanation was for Tyler, I thought he wanted to work on the fix for himself :)

[2018-07-17 17:52] leonardofaria commented on #87
@gerdus I am having the same issue and I found another way to fix it.

I am trying to test what you did locally could you please detail a bit more?

[2018-07-18 10:30] gerdus commented on #87
Looking at it again looks like this was fixed in 1.0.12 (latest on NPM is still v1.0.11)
in 1.0.11 the line was
var contains = self.element.find(f.path[0]);

[2018-07-18 10:30] #87 closed, assigned to nobody

[2018-07-18 10:35] gerdus opened #91 "Latest version on NPM is older (1.0.11) than latest release (1.0.12)"
see https://www.npmjs.com/package/BaremetricsCalendar

[2018-07-23 17:42] kalepail commented on #91
Updated!

[2018-07-23 17:42] #91 closed, assigned to nobody

[2018-07-23 18:03] kalepail commented on #89
Pushed the 14.28% fix in 1.0.13. Thanks guys!

[2018-07-23 18:03] #89 closed, assigned to nobody

[2018-09-21 13:49] ETIBER commented on #80
I've also this situation

[2018-09-28 14:03] hheimbuerger commented on #45
@tyvdh Can this issue please be reopened? The aforementioned hack works for me, but I wish it wasn't needed.

[2018-09-28 15:41] kalepail commented on #45
I'll try and get to this once we hit our next bug sprint week in a couple weeks.

[2018-10-02 18:54] chriswillow opened #92 "Calendar not closing on click outside"
The issue seems to have been introduced in [this commit](https://github.com/Baremetrics/calendar/commit/5786618054324900daa4e22e86610513cd710b3d#diff-67b7ee0886d6cc4869b909cbedd95f44).

`var contains = $(event.target).parents(self.element);`

parents() with an object as parameter is returning all parents and so contains.length is never 0.

[2018-10-08 18:09] kalepail commented on #45
Just updated https://www.npmjs.com/package/baremetrics-calendar
Give it a try when you get the chance!

[2018-10-08 18:09] #45 closed, assigned to nobody

[2019-01-02 17:11] shai126 opened #94 "Tons of click listeners added to the document & never removed"
Every time the calendar is clicked a new event listener gets added to the `document` to check for a 'click off': https://github.com/Baremetrics/calendar/blob/5786618054324900daa4e22e86610513cd710b3d/dev/js/Calendar.js#L189

But we never remove this listener. So over time we end up with all these tons of click handlers being called simultaneously on each click…

Want a fix?

[2019-01-07 20:53] kalepail commented on #94
Would love to see a submission for a fix!

[2019-01-07 21:00] #92 closed, assigned to nobody

[2019-02-06 13:57] jackmcdade opened #95 "Request: Day of the week starts on..."
I can see that this has been brought up multiple times (#53 and #58) but it looks like it was always closed down. Is there any way to get this added? Can I help? This is a pretty important UX aspect for international use.

[2019-02-06 17:34] kalepail commented on #95
As I understand it all you need to do is import moment with the locales needed and then select the locale you'd like to load the calendar in.

[code]

[2019-02-06 17:35] jackmcdade commented on #95
Oh interesting. I'll give that a try and report back. 👍

[2019-02-06 17:43] jackmcdade commented on #95
Negative. It formats the date string, but doesn't affect the calendar table at all. This is French, which starts the week on Monday.

![image](https://user-images.githubusercontent.com/44739/52361678-c5eb0a00-2a0c-11e9-99b9-9ab6756124eb.png)

[2019-02-06 18:37] kalepail commented on #95
What locale are you using?

[2019-02-06 18:40] kalepail commented on #95
According to moment the French calendar starts on Dimanche which Google tells me is Sunday.

[code]

[2019-02-06 18:44] kalepail commented on #95
Hmm looks like all the locales follow the convention of starting the weekday params on Sunday. The offset must be somewhere else. Looking.

[2019-02-06 18:45] kalepail commented on #95
If you switch to `en-gb` or `en-au` does it start on a Monday? That's what I tested.

[2019-02-06 18:48] kalepail commented on #95
Are you using `fr-ca` or `fr-ch` The `fr-ch` has the offset while `fr-ca` does not.

[code]

[2019-02-06 18:51] jackmcdade commented on #95
I tried both and they both have the same week start. Dunno man.

[2019-02-06 18:57] kalepail commented on #95
Works perfectly for me.

![screen shot 2019-02-06 at 1 55 25 pm](https://user-images.githubusercontent.com/4383610/52366084-e324d600-2a16-11e9-9f18-57bbdcae390d.png)

All I can think is either you haven't included the locale version of moment
`<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>` or else you haven't set `moment.locale('fr-ch');

[2019-02-06 18:59] kalepail commented on #95
But then you wouldn't get the language translation either right? /shrug
I assume you are on v.1.0.14?

[2019-02-06 20:55] jackmcdade commented on #95
Yep, I'm on 1.0.14. I can see the locale is loaded, it handles the translation, but no change on the calendar. Here's `fr-ch`, set in our bootstrapping mounted() method.

![image](https://user-images.githubusercontent.com/44739/52372971-854cba00-2a27-11e9-9177-d815a03f0e6c.png)

[2019-02-06 21:19] jackmcdade commented on #95
It's worth mentioning that `moment.localeData().firstDayOfWeek()` shows `1`, as expected, so it seems there's a disconnect between the moment instance and Calendar.

We're importing moment with webpack and binding it to `window`, and then setting `.locale()`. Maybe Calender is newing up an instance of moment or something?

[2019-02-08 21:40] jackmcdade commented on #95
Figured it out. We were binding `moment` to `window`, but Calendar wasn't using that instance. Binding to `Vue.moment` and leveraging that instance globally did the trick.

Thanks for the help and moral support @tyvdh, much appreciated!

[2019-02-08 21:40] #95 closed, assigned to nobody

[2019-06-02 11:07] silent-lad opened #98 "Integration with Vue.js"
Can I know how can I integrate this inside a Vue.js Application?

[2019-06-03 19:56] kalepail commented on #98
I mean just like you would include it in any other project. You'll want to create the calendar inside the VueJS component and you'll need to watch that if you remove the element you recreate the calendar when you replace it back in to the DOM. But other than that there really isn't anything special for using this in a framework like VueJS. If you understand how shadow DOM frameworks work it will h

[2019-06-03 19:56] #98 closed, assigned to nobody

[2019-06-03 19:58] kalepail commented on #98
Fwiw we do this all the time in Baremetrics actually. We include a call to the calendar script in the head and then just call the `new Calendar` whenever we need to build a calendar.

[2019-06-04 03:52] silent-lad commented on #98
I kind of figured out this is what I had to do. But I'm a newbie here and I'm unable to implement this. Can you give me a heads up in the form of a simple github gist or anything? I will be really glad. Thanks in advance. Thanks for such an awesome package though :)

[2019-10-03 19:19] silent-lad opened #99 "Vue.js Wrapper for the same"
Hi, I was very enthusiastic to make a vue.js wrapper component for the same so I did. I also played with some CSS and had some tweaks to get it working as it should in Vue.js Component-based architecture.

https://github.com/silent-lad/Vue2BaremetricsCalendar

Hope you guys like it. Thanks.

[2020-11-16 02:19] brendon commented on #99
Hey, this looks cool. I was just wondering if you had to do any special work to deconstruct the calendar if the element is removed from the page? I couldn't see anything in your Vue code.

[2020-12-16 20:18] sarahbilly opened #106 "Dropdown menu is not accessible"
When there is a dropdown option to select date ranges, it's only available with mouse click but a keyboard or screenreader user cannot access this, since it's just using `div` and not `button` (or using `role="button"` and adding in `tabindex="0"` and key press events).

The other problem is that the dropdown options also need to be keyboard accessible. Would also need a button element.

[2020-12-16 20:43] pieterbeulque commented on #106
Hey there, thanks for reaching out.

You're definitely 100% right, and we aim to make everything that gets out the door nowadays as accessible and inclusive as possible. However, we don't use the calendar / date picker in this repository ourselves anymore, so we won't maintain or update it any longer.

Feel free to open a PR with the required changes and I'd be happy to review and eventually merge

[2020-12-16 20:43] #106 closed, assigned to nobody

[2022-04-12 13:36] agustingianni opened #117 "Security Contact needed"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add